---
import Container from '../Container/Container.astro';
import AboutBody from '../About/About';
---

<div class='bg-slate-50'>
  <Container id='projects' additionalClass='mt-16'>
    <AboutBody client:visible />
  </Container>
</div>
