---
import Container from '../Container/Container.astro';
import AboutBody from '../About/About';
---

<div class='bg-slate-50 block my-16'>
  <Container id='projects' additionalClass='pt-16'>
    <AboutBody client:visible />
  </Container>
</div>
