---
import Container from '../Container/Container.astro';
import { Image } from '@astrojs/image/components';
---

<Container id='hero'>
  <section
    class='flex justify-between mb-[100px] flex-col-reverse sm:flex-row'
    id='hero'
  >
    <div
      class='mt-11 max-w-[424px] w-full text-center sm:text-left sm:mt-[130px]'
    >
      <span class='text-primary mb-2 block'> Documentation Of Myself</span>
      <h1 class='text-5xl text-gradient mb-4 font-extrabold block'>
        Abuidillah Adjie Muliadi
      </h1>
      <p class='text-primary-black block mb-4'>
        A passionate developer, who love to code and sometime design, and
        sometime drink coffee.
      </p>

      <div class='flex space-x-4 justify-center sm:justify-start'>
        <a
          target='_blank'
          rel='noopener noreferrer'
          href='https://github.com/abui-am'
          class='spin-gradient p-[1px] rounded-full flex justify-center items-center'
        >
          <div class='bg-white p-2 rounded-full animate-none'>
            <img alt='github' src='/i-github.svg' class='w-6 h-6' />
          </div>
        </a>

        <a
          target='_blank'
          rel='noopener noreferrer'
          href='https://www.linkedin.com/in/abuidillah-adjie-muliadi-bb0816190/'
          class='spin-gradient p-[1px] rounded-full flex justify-center items-center'
        >
          <div class='bg-white p-2 rounded-full animate-none'>
            <img alt='linkedin' src='/i-linkedin.svg' class='w-6 h-6' />
          </div>
        </a>
      </div>
    </div>
    <div class='relative flex justify-center'>
      <Image
        width={408}
        height={408}
        ration
        src='/avatar.webp'
        class='absolute z-10 top-4 sm:top-[22px] w-64 h-64 sm:w-[364px] sm:h-[364px] rounded-full'
        alt='avatar'
        loading='eager'
      />
      <div class='ava-bg w-72 h-72 sm:w-[408px] sm:h-[408px] rounded-full'>
      </div>
    </div>
  </section>
</Container>
