---
import Container from '../Container/Container.astro';
---

<Container additionalClass='mt-16'>
  <div class='mb-10 block'>
    <h1 class='text-4xl text-gradient font-extrabold inline'>
      Skills and Stack
    </h1>

    <div class='flex'>
      <button> Front End</button>

      <button> Back End</button>

      <button> Design Utillity</button>
    </div>
  </div>
</Container>
