---
import Container from '../Container/Container.astro';
import SkillsAndStack from '../Skills/Skills';
---

<Container id='skills' additionalClass='mt-16'>
  <article>
    <div class='mb-10 block'>
      <h1 class='text-4xl text-gradient font-extrabold inline'>
        Skills and Stack
      </h1>
    </div>
    <SkillsAndStack client:visible />
  </article>
</Container>
