---
export interface Props {
  additionalClass?: astroHTML.JSX.BaseHTMLAttributes['class'];
}

const { additionalClass } = Astro.props;
---

<div class:list={['max-w-5xl w-screen ml-auto mr-auto p-6', additionalClass]}>
  <slot />
</div>
