---
export interface Props {
  additionalClass?: astroHTML.JSX.BaseHTMLAttributes['class'];
  id: string;
}

const { additionalClass, id } = Astro.props;
---

<div
  id={id}
  class:list={['max-w-5xl w-screen ml-auto mr-auto p-6', additionalClass]}
>
  <slot />
</div>
