---
export type Props = {
  title: string;
  description: string;
  imageUrl: string;
};
const { title, description, imageUrl } = Astro.props;
---

<div class='gradient p-[1px] rounded-lg h-[350px]'>
  <div class='relative overflow-hidden'>
    <img class='w-full rounded-lg h-[348px]' src={imageUrl} />
    <div class='bottom-0 left-0 right-0 absolute bg-white rounded-b-lg p-6'>
      <h2 class='text-xl font-bold mb-2'>{title}</h2>
      <p class='text-gray-800 mb-4'>
        {description}
      </p>

      <div class='flex justify-between'>
        <a class='text-gradient font-bold underline'>Read more</a>
        <span class='text-gray-600 font-bold'>3 min read</span>
      </div>
    </div>
  </div>
</div>
