---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.astro';
import About from '../components/Landing/About.astro';
import Hero from '../components/Landing/Hero.astro';
import NotableProject from '../components/Landing/NotableProject.astro';
import RecentPosts from '../components/Landing/RecentPosts.astro';
import SkillsAndStack from '../components/Landing/SkillsAndStack.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <div class='bg-light-gray'>
        <Header />
        <Hero />
      </div>
      <RecentPosts />
      <About />
      <SkillsAndStack />
      <NotableProject />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
