---
import Container from '../Container/Container.astro';
---

<Container id='header' additionalClass='bg-blue'>
  <header>
    <div class='flex justify-between'>
      <h2 class='font-bold text-xl'>Abuidillah Adjie Muliadi</h2>
      <div class='space-x-4'>
        <a class='font-bold' href='#posts'>Posts</a>
        <a class='font-bold href="#skills'>Skills and Stack</a>
        <a class='font-bold href="#projects"'>Projects</a>
      </div>
    </div>
  </header>
</Container>
