---
import Container from '../Container/Container.astro';
---

<Container additionalClass='bg-blue'>
  <header>
    <div class='flex justify-between'>
      <h2 class='font-bold text-xl'>Abuidillah Adjie Muliadi</h2>
      <div class='space-x-4'>
        <a class='font-bold'>Post</a>
        <a class='font-bold'>Skills and Stack</a>
        <a class='font-bold'>My Journey</a>
        <a class='font-bold'>Projects</a>
      </div>
    </div>
  </header>
</Container>
