---
import Container from '../Container/Container.astro';
---

<div class='bg-slate-50'>
  <hr />
  <Container id='footer' additionalClass='py-8'>
    <div class='flex justify-center'>
      <div>
        <p class='text-base text-gray-600'>
          Designed and Built with ❤️ by <b>Abuidillah Adjie Muliadi</b>
        </p>
      </div>
    </div>
  </Container>
</div>
